.hero {
    height: 100vh;
    h1{
        margin-top: 3rem;
        line-height: .9;
        a{
            font-family: $fontMontserrat;
        }
        @include breakpoint-down('md'){
            text-align: center;
        }
    }
  a{
      color: $russet;
      font-family: $fontMukta;
      &:hover{
          color: $russet2;
      }
  }
  h4{
      margin-top: 3rem;
  }
}
