.nav {
    display: flex;
    
    justify-content: space-between;
    padding-top: 1rem;
    font-weight: bolder;
    .desktop_menu{
        @include breakpoint-down('small'){
           visibility: hidden; 
        }
    }
    #logo_link{
        color: $silverChalice;
        &:hover{
            color: $silverChalice2;
        }
    }
    ul {
        
      display: flex;
      justify-content: space-around;
      li {
        margin-left: 1rem;
       margin-right: 1rem;
        list-style: none;
        @include breakpoint-down('medium'){
            margin-left: .4rem;
            margin-right: .4rem;
        }
        a {
          color: $silverChalice;
          &:hover {
            color: $silverChalice2;
          }
        }
        &:nth-child(4) {
          a {
            color: $russet;
            &:hover{
                color: $russet2;
            }
          }
        }
      }
    }
  }