.services{
    background-color: $eerieBlack2;
    padding-top: 2rem;
    
    
   h2{
       color: $silverChalice2;
       text-align: center;
       margin-bottom: 1.5rem;
   } 
   h4{
    color: $silverChalice2;
    text-align: center;
   }
   p{
    color: $silverChalice;
    text-align: center;
   }
}