* {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: #cccccc;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-size: 4rem;
  color: #CF5C36;
  font-family: "Montserrat", sans-serif;
}

h1 a {
  font-size: 4rem;
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 2rem;
  }
  h1 a {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 a {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 39.9375em) {
  h4 {
    font-size: 1.2rem;
  }
  h4 a {
    font-size: 1.3rem;
  }
}

p {
  font-size: 1.2rem;
}

a {
  color: #cccccc;
  font-size: 1.3rem;
  text-decoration: none;
}

a:hover {
  color: #f2f2f2;
  text-decoration: none;
}

button {
  background-color: #171717;
  color: #CF5C36;
  margin-bottom: 1rem;
  border: 0.1 solid #1a1a1a;
}

button:hover {
  color: #ff5029;
}

.disabled-link {
  pointer-events: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  font-weight: bolder;
}

@media (max-width: 39.9375em) {
  .nav .desktop_menu {
    visibility: hidden;
  }
}

.nav #logo_link {
  color: #cccccc;
}

.nav #logo_link:hover {
  color: #f2f2f2;
}

.nav #logo_link p {
  font-size: 2rem;
  font-weight: bolder;
}

.nav #logo_link span {
  color: #CF5C36;
  font-size: 2rem;
  margin-top: .4rem;
  margin-left: .1rem;
}

.nav #logo_link span:hover {
  color: #ff5029;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
}

@media (max-width: 63.9375em) {
  .nav ul li {
    margin-left: .4rem;
    margin-right: .4rem;
  }
}

.nav ul li a {
  color: #cccccc;
}

.nav ul li a:hover {
  color: #f2f2f2;
}

.nav ul li:nth-child(4) a {
  color: #CF5C36;
}

.nav ul li:nth-child(4) a:hover {
  color: #ff5029;
}

.hero {
  height: 100vh;
}

.hero_text {
  position: absolute;
  top: 30%;
  margin: 0 auto;
}

.hero h1 {
  color: #1f1f1f;
  padding-bottom: 2rem;
  line-height: .9;
  line-height: 6rem;
  -webkit-animation: change 1.4s 4s ease-in both;
          animation: change 1.4s 4s ease-in both;
}

@-webkit-keyframes change {
  from {
    color: #f2f2f2;
  }
  to {
    color: #1f1f1f;
  }
}

@keyframes change {
  from {
    color: #f2f2f2;
  }
  to {
    color: #1f1f1f;
  }
}

.hero h1 span {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: null) {
  .hero h1 {
    text-align: center;
  }
}

.hero span {
  cursor: pointer;
  color: #CF5C36;
  font-family: "Mukta", sans-serif;
}

.hero span:hover {
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
  color: #ff5029;
  font-size: 4.2rem;
}

.hero h4 {
  margin-top: 3rem;
}

.services {
  background-color: #1a1a1a;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 60vh;
}

.services h2 {
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services h4 {
  color: #f2f2f2;
  text-align: center;
}

.services p {
  color: #cccccc;
  text-align: center;
}

.testimonial {
  margin-top: 3rem;
}

.testimonial figure {
  margin-left: 4rem;
  margin-right: 4rem;
}

.testimonial blockquote h3::before {
  content: '\201C';
}

.testimonial blockquote h3::after {
  content: '\201D';
}

.about-me {
  position: absolute;
  top: 20%;
  margin: 0 auto;
}

footer {
  background-color: #1a1a1a;
  padding-top: 1rem;
}

footer .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */